// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
h2 {
   background-color: #0595D4;
  color: #ffffff;
  border: none;
}
